# Node modules
node_modules/
node_modules_backup/

# macOS junk
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Semgrep outputs
semgrep_results.json
semgrep_verbose.txt

# Python cache
__pycache__/
*.pyc

# OpenAI API keys
.env 
OPENAI_API_KEY=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.env

# Coverage reports (HTML)
coverage/
.nyc_output/

# Test reports
test-results/
*.lcovvalidation/repos/
